* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222831;
    font-family: "Roboto",san-serif;
}

header {
    align-items: center;
    background-color: #393E46;
    border-bottom: 3px solid #00ADB5;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 2.7% 0;
    width: 100%;
}

.main-container {
    display: grid;
    color: #ddd;
    grid-template-areas: 
        "finalScore finalScore finalScore finalScore finalScore finalScore"
        ". score1 . . score2 ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        "rock . paper paper . scissor";
    /*width: 80%;*/
    margin: 0 auto;
    width: 35%;
    grid-gap: 2px;
}

h1 {
    align-self: center;
    color: #00ADB5;
    font-size: 50px;
    justify-self: center;
    text-transform: capitalize;
}

.score-container {
    align-items: center;
    display: flex;
    font-size: 24px;
    text-transform: capitalize;
}

.score-player-one {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-area: score1;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 130px;
}

.score-player-two {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-area: score2;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 130px;
}

.final-score-container {
    align-self: center;
    display: flex;
    grid-area: finalScore;
    justify-self: center;
    margin-bottom: 20px;
}

.final-score {
    font-size: 40px;
    text-transform: capitalize;
}

#scoreOne,
#scoreTwo {
    font-size: 80px;
    padding: 10px;
}

.btn-choice {
    align-self: center;
    background-color: #393e46;
    border-radius: 10px;
    border: 2px solid #ddd;
    cursor: pointer;
    justify-self: center;
}

.far {
    font-size: 100px;
    padding: 20px;
}

.rock {
    grid-area: rock;
}

.paper {
    grid-area: paper;
}

.scissor {
    grid-area: scissor;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}



